body{
    background-color: lightgrey;
}
.banner-wrap{
    background: no-repeat center/100%
    url("/home/cesar/repos/fitness_website/images/gym-background.jpg");
}
header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.header-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > div>div{
   
  }
.links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: flex-end;
}

.logo{
    color: #ffffff;
    font-size: 42px;
    font-weight: 900;
    font-style: italic;
    padding-right: 16px;
    align-self:flex-start ;
}
footer{
    text-align: center;
}
ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}